#ouibounce-modal {
  
}

#ouibounce-modal .underlay {
  
}

#ouibounce-modal .modal {
  display: block;
  
  width: 600px;
  height: 400px;
  background-color: #f0f1f2;
  z-index: 1;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  border-radius: 4px;
  -webkit-animation: popin 0.3s;
  animation: popin 0.3s;
}

#ouibounce-modal .modal-title {
  
}

#ouibounce-modal h3 {
  
}

#ouibounce-modal .modal-body {
  
}

#ouibounce-modal p {
  
}

#ouibounce-modal form {
  
}
#ouibounce-modal form input[type=text] {
  
}

#ouibounce-modal form input[type=submit] {
  
}

#ouibounce-modal form p {
  
}

#ouibounce-modal .modal-footer {
  
}

#ouibounce-modal .modal-footer p {
  
}

@-webkit-keyframes fadein {
  
}

@-ms-keyframes fadein {
  
}

@keyframes fadein {
  
}
@-webkit-keyframes popin {
  
}

@-ms-keyframes popin {
  
}

@keyframes popin {
  
}
